<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="pCloudy Website tests" parallel="tests">
    <test name="pCloudy Website tests on windows 10 on chrome browser version 108">
        <parameter name="id" value="1"/>
        <classes>
            <class name="io.github.mfaisalkhatri.tests.PcloudyWebsiteTests">
                <methods>
                    <include name="testHomePageText"/>
                    <include name="testBlogPageText"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="pCloudy Website tests on Mac Ventura on safari browser version 16">
        <parameter name="id" value="2"/>
        <classes>
            <class name="io.github.mfaisalkhatri.tests.PcloudyWebsiteTests">
                <methods>
                    <include name="testHomePageText"/>
                    <include name="testBlogPageText"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test name="pCloudy Website tests on windows 10 on firefox browser version 108">
        <parameter name="id" value="3"/>
        <classes>
            <class name="io.github.mfaisalkhatri.tests.PcloudyWebsiteTests">
                <methods>
                    <include name="testHomePageText"/>
                    <include name="testBlogPageText"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->

